automacao_contratos_bermax.json
{"createdAt":"2025-05-06T19:14:12.502Z","updatedAt":"2025-05-07T00:26:39.730Z","id":"kkkfqhm4e8DVbw9d","name":"Automacao_Contratos_Bermax","active":true,"nodes":[{"parameters":{"method":"POST","url":"https://api.autentique.com.br/documentos.json","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Autntiq-Api","value":"df011af5ca21d7b4da786225c1146ee5f1e811f41739200d730fae19674ca627"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"nome","value":"=Contrato Bermax - {{ $('Variaveis-Globais').item.json.razaoSocial }}"},{"name":"partes[0][email]","value":"={{ $('Variaveis-Globais').item.json.email }}"},{"name":"partes[0][funcao]","value":"assinar"},{"parameterType":"formBinaryData","name":"arquivo","inputDataFieldName":"data"},{"name":"mensagem","value":"Assine o contrato clicando no botãoacima:"},{"name":"rejeitavel","value":"true"},{"name":"lembrete_assinatura","value":"true"},{"name":"frequencia","value":"diario"},{"name":"dias_vencimento","value":"7"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,300],"id":"2f6772a4-a0e0-4732-a83e-97a0235e9202","name":"Cria Doc (Authentique)"},{"parameters":{"httpMethod":"POST","path":"forms","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-40,0],"id":"0951a022-70ad-4dde-b542-1e9ce0a848f9","name":"Forms-Trigger","webhookId":"19b76d40-e357-456b-a4f3-9f4fef018c90"},{"parameters":{"assignments":{"assignments":[{"id":"b36451d1-f684-4600-80ee-e977fd015c64","name":"razaoSocial","value":"={{ $json.body.razaoSocial }}","type":"string"},{"id":"87aa4130-eeee-4e34-b5c3-71259ca483f6","name":"cnpj","value":"={{ $json.body.cnpj }}","type":"string"},{"id":"111aea9b-4268-4649-aa13-b72dbde0bf46","name":"enderecoSede","value":"={{ $json.body.enderecoSede }}","type":"string"},{"id":"64ba4a29-2f7d-4f01-a4ed-00f0e3b465dc","name":"nomeCompleto","value":"={{ $json.body.nomeCompleto }}","type":"string"},{"id":"8d65d8f8-8c0b-4179-ba5a-45ad44b91d06","name":"cpf","value":"={{ $json.body.cpf }}","type":"string"},{"id":"cbb22106-3cdb-4532-9162-3360903a49be","name":"email","value":"={{ $json.body.email }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[300,0],"id":"db470466-fe8f-4a36-9862-ac473858ff24","name":"Variaveis-Globais"},{"parameters":{"resource":"folder","name":"={{ $json['RAZÃO SOCIAL'] }} - {{ $json.NOME }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1ikR5nXgxYK3n0OMm_rvAQeLQ8u8lSKN4","mode":"list","cachedResultName":"Clientes","cachedResultUrl":"https://drive.google.com/drive/folders/1ikR5nXgxYK3n0OMm_rvAQeLQ8u8lSKN4"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[960,0],"id":"16ef7a49-b9be-45aa-95fd-7f6934ffa88b","name":"Cria-Pasta-Cliente","credentials":{"googleDriveOAuth2Api":{"id":"VyixjnFFGRUegeZL","name":"GoogleDriveCredential"}}},{"parameters":{"operation":"copy","fileId":{"__rl":true,"value":"1Is3jCkN779KjSo2_WR6O5d5FqTal8xuNMSl5xDd9Rws","mode":"list","cachedResultName":"Contrato + Documento Técnico","cachedResultUrl":"https://docs.google.com/document/d/1Is3jCkN779KjSo2_WR6O5d5FqTal8xuNMSl5xDd9Rws/edit?usp=drivesdk"},"name":"=Contrato {{ $json.name }}","sameFolder":false,"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-20,300],"id":"3278eb75-1b49-4307-acc2-9975d5af3ab9","name":"Copia-Modelo-Contrato","credentials":{"googleDriveOAuth2Api":{"id":"VyixjnFFGRUegeZL","name":"GoogleDriveCredential"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"replaceAll","text":"[RAZAO_SOCIAL_CONTRATANTE]","replaceText":"={{ $('Variaveis-Globais').item.json.razaoSocial }}"},{"action":"replaceAll","text":"[CNPJ_CONTRATANTE]","replaceText":"={{ $('Variaveis-Globais').item.json.cnpj }}"},{"action":"replaceAll","text":"[ENDERECO_CONTRATANTE]","replaceText":"={{ $('Variaveis-Globais').item.json.enderecoSede }}"},{"action":"replaceAll","text":"[NOME_CONTRATANTE]","replaceText":"={{ $('Variaveis-Globais').item.json.nomeCompleto }}"},{"action":"replaceAll","text":"[CPF_CONTRATANTE]","replaceText":"={{ $('Variaveis-Globais').item.json.cpf }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[320,300],"id":"46151f8a-d34f-4103-a183-3590404bf575","name":"Substitui-Variaveis-Contrato","credentials":{"googleDocsOAuth2Api":{"id":"3CiXjwcecRZ3mbxY","name":"GoogleDocsCredential"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.documentId }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[640,300],"id":"b315f45f-f2e9-4193-a948-45acf8a31fd8","name":"Download-Contrato","credentials":{"googleDriveOAuth2Api":{"id":"VyixjnFFGRUegeZL","name":"GoogleDriveCredential"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"10PhhHPBOwXhDGe45_nx8gB_IXQEMSD-tHYOyGDzn_GA","mode":"list","cachedResultName":"Clientes-Modo-Bermax","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10PhhHPBOwXhDGe45_nx8gB_IXQEMSD-tHYOyGDzn_GA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10PhhHPBOwXhDGe45_nx8gB_IXQEMSD-tHYOyGDzn_GA/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"RAZÃO SOCIAL":"={{ $json.razaoSocial }}","CNPJ":"={{ $json.cnpj }}","ENDEREÇO":"={{ $json.enderecoSede }}","NOME":"={{ $json.nomeCompleto }}","CPF":"={{ $json.cpf }}","EMAIL":"={{ $json.email }}"},"matchingColumns":[],"schema":[{"id":"RAZÃO SOCIAL","displayName":"RAZÃO SOCIAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CNPJ","displayName":"CNPJ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ENDEREÇO","displayName":"ENDEREÇO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CPF","displayName":"CPF","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[640,0],"id":"76a70a77-147c-48cb-b68e-711f2c6f2049","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"64XV5P7ztUzttRSg","name":"SheetsCredentials"}}}],"connections":{"Forms-Trigger":{"main":[[{"node":"Variaveis-Globais","type":"main","index":0}]]},"Variaveis-Globais":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Cria-Pasta-Cliente":{"main":[[{"node":"Copia-Modelo-Contrato","type":"main","index":0}]]},"Copia-Modelo-Contrato":{"main":[[{"node":"Substitui-Variaveis-Contrato","type":"main","index":0}]]},"Substitui-Variaveis-Contrato":{"main":[[{"node":"Download-Contrato","type":"main","index":0}]]},"Download-Contrato":{"main":[[{"node":"Cria Doc (Authentique)","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Cria-Pasta-Cliente","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8bcb0b4c-8d25-4fd1-b2f0-0e3dfbd52c96","triggerCount":1,"shared":[{"createdAt":"2025-05-06T19:14:12.502Z","updatedAt":"2025-05-06T19:14:12.502Z","role":"workflow:owner","workflowId":"kkkfqhm4e8DVbw9d","projectId":"fOnZOXT2pmTZRUit","project":{"createdAt":"2025-03-13T21:21:52.544Z","updatedAt":"2025-03-14T17:54:00.320Z","id":"fOnZOXT2pmTZRUit","name":"Diogo Henrique <work.diogoh@outlook.com>","type":"personal","icon":null,"projectRelations":[{"createdAt":"2025-03-13T21:21:52.544Z","updatedAt":"2025-03-13T21:21:52.544Z","role":"project:personalOwner","userId":"9f2e72e4-fd38-47c4-a233-b327a4c70b32","projectId":"fOnZOXT2pmTZRUit","user":{"createdAt":"2025-03-13T21:21:51.918Z","updatedAt":"2025-05-07T00:19:45.770Z","id":"9f2e72e4-fd38-47c4-a233-b327a4c70b32","email":"work.diogoh@outlook.com","firstName":"Diogo","lastName":"Henrique","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-03-14T17:56:43.378Z","personalization_survey_n8n_version":"1.82.3","automationGoalDevops":["cloud-infrastructure-orchestration"],"companySize":"<20","companyType":"systems-integrator","role":"devops","reportedSource":"youtube"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"kkkfqhm4e8DVbw9d","userActivatedAt":1746577185757,"npsSurvey":{"responded":true,"lastShownAt":1745502495223}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"tags":[]}