disparo-em-massa-wpp.json
{"createdAt":"2025-04-28T17:56:44.006Z","updatedAt":"2025-04-28T19:16:22.799Z","id":"Azou8pnpNARC1o22","name":"Disparo-em-Massa-Wpp","active":false,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[500,280],"id":"4546117b-24dd-49c8-b06b-d99f6ad184f0","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[1420,280],"id":"7514fc0b-be75-4e19-b38a-e7412470dad1"},{"parameters":{"amount":"={{ $('RandomTime').item.json.time }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1240,280],"id":"6185de75-87e3-4603-ad83-ea03f8fb60a0","name":"Wait","webhookId":"964a7b94-b062-4729-9370-48f8b621b1b8"},{"parameters":{"assignments":{"assignments":[{"id":"631235ba-48f6-4e54-a6c3-0224cb52004b","name":"time","value":"={{ $('RandomTime').item.json.time.toString() }}","type":"string"},{"id":"0650cf5a-1c19-4dd8-8f39-e555f3e0f344","name":"telefone","value":"={{ $('Google Sheets').item.json['Customer Phone'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[880,280],"id":"64034432-1fd4-4c46-b44d-431f7ec8d13e","name":"Edit Fields"},{"parameters":{"method":"POST","url":"=insira-endpoint","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $('Supabase').item.json['Customer Phone'] }}\",\n    \"text\": \"Escreva sua mensagem\"\n}","options":{}},"id":"67064b2e-1100-427d-a38e-34e57937cc4b","name":"Disparo WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1060,280]},{"parameters":{"httpMethod":"POST","path":"472db1e2-efd7-493c-b60a-3b2800c98062","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[100,280],"id":"8b25872d-27fc-4a6e-9cb2-e865fd058ee4","name":"Webhook","webhookId":"472db1e2-efd7-493c-b60a-3b2800c98062"},{"parameters":{"operation":"getAll","tableId":"clientes"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[300,280],"id":"b5a15744-000b-408e-baaf-c41d208cb0e1","name":"Supabase","credentials":{"supabaseApi":{"id":"qyUo91dZa1ecreWb","name":"SupabaseCyga"}}},{"parameters":{"jsCode":"function generateRandomTime() {\n  // Gera um número aleatório entre 0 e 1\n  const random = Math.random();\n  \n  // Converte para o intervalo de 3 a 6\n  const time = 3 + (random * 3);\n  \n  // Limita para duas casas decimais\n  return Number(time.toFixed(2));\n}\n\n// Atribui o valor à variável time\nconst time = generateRandomTime();\n\n// Retorna um array com um objeto contendo o valor time\nreturn [\n  {\n    time: time\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[700,280],"id":"96646f5f-8c34-4e14-8a37-f50e11556c99","name":"RandomTime"}],"connections":{"Loop Over Items":{"main":[[],[{"node":"RandomTime","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Disparo WhatsApp","type":"main","index":0}]]},"Disparo WhatsApp":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"RandomTime":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"02bf0ba3-aad9-4363-970d-bedbfa1fee0c","triggerCount":0,"shared":[{"createdAt":"2025-04-28T17:56:44.006Z","updatedAt":"2025-04-28T17:56:44.006Z","role":"workflow:owner","workflowId":"Azou8pnpNARC1o22","projectId":"fOnZOXT2pmTZRUit","project":{"createdAt":"2025-03-13T21:21:52.544Z","updatedAt":"2025-03-14T17:54:00.320Z","id":"fOnZOXT2pmTZRUit","name":"Diogo Henrique <work.diogoh@outlook.com>","type":"personal","icon":null,"projectRelations":[{"createdAt":"2025-03-13T21:21:52.544Z","updatedAt":"2025-03-13T21:21:52.544Z","role":"project:personalOwner","userId":"9f2e72e4-fd38-47c4-a233-b327a4c70b32","projectId":"fOnZOXT2pmTZRUit","user":{"createdAt":"2025-03-13T21:21:51.918Z","updatedAt":"2025-04-26T18:51:14.606Z","id":"9f2e72e4-fd38-47c4-a233-b327a4c70b32","email":"work.diogoh@outlook.com","firstName":"Diogo","lastName":"Henrique","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-03-14T17:56:43.378Z","personalization_survey_n8n_version":"1.82.3","automationGoalDevops":["cloud-infrastructure-orchestration"],"companySize":"<20","companyType":"systems-integrator","role":"devops","reportedSource":"youtube"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"6ZgkOC4dQAa6gxt7","userActivatedAt":1745693474588,"npsSurvey":{"responded":true,"lastShownAt":1745502495223}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"tags":[]}